<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>193448246985-p5vomhp875aqteffug31973vk142ms5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193448246985-p5vomhp875aqteffug31973vk142ms5u</string>
	<key>API_KEY</key>
	<string>AIzaSyAt2a8RLX3BP29KQ6NRCmA73Uu_96SbDFU</string>
	<key>GCM_SENDER_ID</key>
	<string>193448246985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-6460e</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-6460e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193448246985:ios:3fbbdcfb87bfb85d425718</string>
</dict>
</plist>